/* app css stylesheet */
@import "bootstrap.min.css";

body {
    font-family: Helvetica Neue,serif;
}

body.body-background {
    background-color: transparent;
}

/*welcome page background image*/
.background-image {
    background: url(../img/city.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    color: black;
}

.transparent-well {
    opacity: 0.85;
}

/*Wells shadow*/
.well {
    box-shadow: 2px 2px 2px #181718;
}


.masthead h1 {
    font-size: 90px;
    line-height: 1;
}

.masthead {
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 20px 0 80px;
    margin-bottom: 0;
    color: #fff;
}

.masthead.yell {
    color: black;
}

.masthead strong{
    color: #faf112;
}

.warning-background {
    background: red;
}

.warning-background-keypress {
    background: #fa5502;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 16px;
}