/* app css stylesheet */
@import "bootstrap.min.css";

body.body-background {
    background-color: transparent;
}

/*welcome page background image*/
.background-image {
    background: url(../img/city.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    color: black;
}

.transparent-well {
    opacity: 0.85;
}

.masthead {
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.masthead.yell {
    color: black;
}

strong {
    color: pink;
}

html.warning-background {
    background-color: red;
    background: red;
}