<a href="https://github.com/eladmoshe/facebook-password">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
         alt="Fork me on GitHub">
</a>
<div class="container">
    <div class="masthead yell">
        <h1>NO NO NO NO NO NO!<br> DON'T BE AN <strong>IDIOT</strong>!</h1>
    </div>
    <p class="well lead">
        Do you see <a href="http://www.facebook.com" target="_blank"><i>facebook.com</i></a> in the address bar? No, you don't. Don't ever type your login and password to Facebook
        on
        a site that isn't facebook.com. Same with Twitter. And LinkedIn. I guess what I'm trying to say here is, don't
        be
        an idiot.
    </p>

    <!-- Facebook like button -->
    <div fb-login></div>
    <fb:like href="http://eladmoshe.github.io/facebook-password" send="true" width="450" show_faces="true"
             font="lucida grande">
             </fb:like>

    <div set-html-class class-name="warning-background"></div>
    <div keyboard-flash class-name="warning-background-keypress"></div>
</div>
<footer>
    <p>
        Written by <a href="https://github.com/eladmoshe">Elad Moshe</a>. Heavily Inspired by Alastair Coote's <a href="http://www.ismytwitterpasswordsecure.com/">IsMyTwitterPasswordSecure</a><br>
    </p>
</footer>
