<a href="https://github.com/eladmoshe/facebook-password">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
         alt="Fork me on GitHub">
</a>
<div class="container">
    <div class="masthead">
        <h1>NO NO NO NO NO NO! DON'T BE AN <strong>IDIOT</strong>!</h1>
    </div>
    <p class="lead">
    Do you see "facebook.com" in the address bar? No, you don't. Don't ever type your login and password to Facebook on
    a site that isn't facebook.com. Same with Twitter. And LinkedIn. I guess what I'm trying to say here is, don't be
    an idiot.
    </p>

    <!-- Facebook like button -->
    <div fbLogin></div>
    <div class="fb-like" data-href="http://eladmoshe.github.io/facebook-password" data-send="true"
         data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></div>
</div>