<div class="container" ng-controller="welcomeCtrl">
    <div class="masthead">
        <h1>Is your Facebook Password Secure?</h1>

    </div>
    <div class="row-fluid">
        <div class="span12 well transparent-well">
            <p class="lead">
                New official statistics from Facebook reveals that more than <b>600,000</b> Facebook accounts are hacked
                on a daily basis. That's hacked account every <b>140 milliseconds</b>.
                (<a href="http://www.escapistmagazine.com/news/view/113906-600-000-Facebook-Accounts-Get-Hacked-Daily"
                    target="_blank">Source</a>)
            </p>

            <p class="lead">
                You can easily protect your account by following few very simple rules. Entering your Facebook
                credentials will run advanced analytics algorithm to determine if your password is unique and strong
                enough.
            </p>


            <form class="form-inline" ng-submit="submit()" novalidate>
                <input type="text" ng-minlength="2" required class="input-small" placeholder="email" ng-model="email.text">
                <input type="password" ng-minlength="2" class="input-small" required placeholder="Password"
                       ng-model="password.text">
                <button class="btn btn-primary" ng-click="validate()">Analyze</button>
            </form>

            <p>
                Hint: <b>it isn't</b>.
            </p>

            <div set-html-class class-name="warning-background" is-clear="true"/>

        </div>

    </div>
</div>